---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: filesets.package.r
spec:
  group: package.r
  names:
    kind: FileSet
    listKind: FileSetList
    plural: filesets
    singular: fileset
  scope: Namespaced
  versions:
  - name: alphav1
    schema:
      openAPIV3Schema:
        description: FileSet is the Schema for the filesets API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FileSetSpec defines the desired state of FileSet
            properties:
              description:
                type: string
              expire:
                format: int64
                type: integer
              hash:
                type: string
              password_hash:
                type: string
              path:
                type: string
              source:
                description: Source is the Schema for the sources API
                properties:
                  apiVersion:
                    description: |-
                      APIVersion defines the versioned schema of this representation of an object.
                      Servers should convert recognized schemas to the latest internal value, and
                      may reject unrecognized values.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                    type: string
                  kind:
                    description: |-
                      Kind is a string value representing the REST resource this object represents.
                      Servers may infer this from the endpoint the client submits requests to.
                      Cannot be updated.
                      In CamelCase.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  metadata:
                    type: object
                  spec:
                    description: SourceSpec defines the desired state of Source
                    properties:
                      secretName:
                        type: string
                    type: object
                  status:
                    description: SourceStatus defines the observed state of Source
                    properties:
                      success:
                        type: boolean
                    required:
                    - success
                    type: object
                type: object
              token:
                type: string
              userID:
                type: integer
            required:
            - expire
            - hash
            - path
            - source
            - userID
            type: object
          status:
            description: FileSetStatus defines the observed state of FileSet
            properties:
              source:
                description: Source is the Schema for the sources API
                properties:
                  apiVersion:
                    description: |-
                      APIVersion defines the versioned schema of this representation of an object.
                      Servers should convert recognized schemas to the latest internal value, and
                      may reject unrecognized values.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                    type: string
                  kind:
                    description: |-
                      Kind is a string value representing the REST resource this object represents.
                      Servers may infer this from the endpoint the client submits requests to.
                      Cannot be updated.
                      In CamelCase.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  metadata:
                    type: object
                  spec:
                    description: SourceSpec defines the desired state of Source
                    properties:
                      secretName:
                        type: string
                    type: object
                  status:
                    description: SourceStatus defines the observed state of Source
                    properties:
                      success:
                        type: boolean
                    required:
                    - success
                    type: object
                type: object
            required:
            - source
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
